<table class="s-tag-table">
    <tbody>
        <tr>
            <td colspan="1" rowspan="1">
                <p>Illustrator gradient tool</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>Opacity</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>Location</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>Slider 1</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>15%</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>32%</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>Slider 2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2%</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>62%</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>Slider 3</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>0%</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>100%</p>
            </td>
        </tr>
    </tbody>
</table>